
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


venv/
env/
ENV/
.venv/

.ipynb_checkpoints/
artifacts/

data/raw/
data/processed/


!data/raw/.gitkeep
!data/processed/.gitkeep


*.h5
*.pth
*.pt
*.pkl
*.joblib


logs/
*.log

.DS_Store
Thumbs.db


.vscode/
.idea/


.env


.cache/